body, html {
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightslategrey;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 150px;
    user-select: none;
    margin-bottom: 5%;
}

.main {
    width: 100%;
    height: 100%;
}

a.btnPlay {
    display: block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 auto;
    border-radius: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Inter;
    font-weight: 300;
    color:#FFFFFF;
    text-align: center;
    transition: all 0.2s;
    user-select: none;
    font-size: 20px;
}

a.btnPlay:hover {
    color:#000000;
    background-color:#FFFFFF;
}

.links {
    text-align: center;
    margin-top: 40%;
    user-select: none;
}

.git, .tg {
    display: inline-block;
}
